<mat-card class="card-busca1">
  <img mat-card-image
    src="assets/imagens/Veneza.png" alt="Imagem de Veneza">
  <mat-card-content>
    <ul>
      <li>Veneza</li>
      <li>R$ 500</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary">VER DETALHES</button>
  </mat-card-actions>

  <img mat-card-image
    src="assets/imagens/riodejaneiro.png" alt="Imagem de Veneza">
   <mat-card-content>
   <ul>
    <li>Veneza</li>
    <li>R$ 1500</li>
  </ul>
</mat-card-content>
<mat-card-actions>
  <button mat-flat-button color="primary">VER DETALHES</button>
</mat-card-actions>

<img mat-card-image
    src="assets/imagens/portugal1.png" alt="Imagem de Veneza">
   <mat-card-content>
   <ul>
    <li>Veneza</li>
    <li>R$ 1500</li>
  </ul>
</mat-card-content>
<mat-card-actions>
  <button mat-flat-button color="primary">VER DETALHES</button>
</mat-card-actions>

<img mat-card-image
    src="assets/imagens/1.png" alt="Imagem de Veneza">
   <mat-card-content>
   <ul>
    <li>Veneza</li>
    <li>R$ 1500</li>
  </ul>
</mat-card-content>
<mat-card-actions>
  <button mat-flat-button color="primary">VER DETALHES</button>
</mat-card-actions>
<img mat-card-image
    src="assets/imagens/2.png" alt="Imagem de Veneza">
   <mat-card-content>
   <ul>
    <li>Veneza</li>
    <li>R$ 1500</li>
  </ul>
</mat-card-content>
<mat-card-actions>
  <button mat-flat-button color="primary">VER DETALHES</button>
</mat-card-actions>
<img mat-card-image
    src="assets/imagens/portugal3.png" alt="Imagem de Veneza">
   <mat-card-content>
   <ul>
    <li>Veneza</li>
    <li>R$ 1500</li>
  </ul>
</mat-card-content>
<mat-card-actions>
  <button mat-flat-button color="primary">VER DETALHES</button>
</mat-card-actions>
<img mat-card-image
    src="assets/imagens/portugal4.png" alt="Imagem de Veneza">
   <mat-card-content>
   <ul>
    <li>Veneza</li>
    <li>R$ 1500</li>
  </ul>
</mat-card-content>
<mat-card-actions>
  <button mat-flat-button color="primary">VER DETALHES</button>
</mat-card-actions>









</mat-card>

