<app-banner
src="assets/imagens/banner-homepage.png"
alt="Banner da aplicação Jornada">
</app-banner>
<app-container>
<h2>Promoções</h2>
<div class="card-wrapper">
  <app-card-busca></app-card-busca>
  <app-card-busca></app-card-busca>
  <app-card-busca></app-card-busca><img mat-card-image
  src="assets/imagens/portugal1.png" alt="Imagem de Veneza">
 <mat-card-content>
 <ul>
  <li>Veneza</li>
  <li>R$ 1500</li>
</ul>
</mat-card-content>
<mat-card-actions>
<button mat-flat-button color="primary">VER DETALHES</button>
</mat-card-actions><img mat-card-image
src="assets/imagens/portugal1.png" alt="Imagem de Veneza">
<mat-card-content>
<ul>
<li>Veneza</li>
<li>R$ 1500</li>
</ul>
</mat-card-content>
<mat-card-actions>
<button mat-flat-button color="primary">VER DETALHES</button>
</mat-card-actions><img mat-card-image
src="assets/imagens/portugal1.png" alt="Imagem de Veneza">
<mat-card-content>
<ul>
<li>Veneza</li>
<li>R$ 1500</li>
</ul>
</mat-card-content>
<mat-card-actions>
<button mat-flat-button color="primary">VER DETALHES</button>
</mat-card-actions><img mat-card-image
src="assets/imagens/portugal1.png" alt="Imagem de Veneza">
<mat-card-content>
<ul>
<li>Veneza</li>
<li>R$ 1500</li>
</ul>
</mat-card-content>
<mat-card-actions>
<button mat-flat-button color="primary">VER DETALHES</button>
</mat-card-actions><img mat-card-image
src="assets/imagens/portugal1.png" alt="Imagem de Veneza">
<mat-card-content>
<ul>
<li>Veneza</li>
<li>R$ 1500</li>
</ul>
</mat-card-content>
<mat-card-actions>
<button mat-flat-button color="primary">VER DETALHES</button>
</mat-card-actions>
</div>
<h2>Depoimentos</h2>
</app-container>
